<h1>New configuration</h1>

<%= form_for(@configuration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<p>
		<%= f.label :platform %><br />
		<table>
		<% PLATFORMS.each do |platform| %>
			<tr>
				<td><%= f.radio_button(:platform, platform)%></td>
				<td><%= f.label(:platform, platform) %></td>
			</tr>
		<% end %>
		</table>
	</p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', configurations_path %>