<ul id="applied-configuration-list" class="sortable-list">
	<% @computer.applied_configurations.each do |ac| %>
		<li id="item_<%= ac.id %>" class="<%= cycle("even", "odd") %>">
			<td>
				<%= ac.configuration.name %> 
				<%= link_to_remote 	'X', 
									:url => {
										:action => "remove_configuration",
										:id => @computer,
										:applied_configuration_id => ac
									}, 
									:confirm => 'Are you sure?'%>
			</td>	
		</li>
	<% end %>
</ul>
<%= sortable_element "applied-configuration-list", 
		:url 		=>	{
							:action => "sort", 
							:id => @computer
						},
		:complete 	=> visual_effect(:highlight, "applied-configuration-list")
%>