<table id="applied-configuration-list" class="config_package_table">
	<% @computer.applied_configurations.each do |ac| %>	
		<tr id="<%=ac.class.to_s.downcase %>_<%= ac.id %>" class="applied_configuration">
			<th>
				<%= ac.configuration.name %> 
				<%= link_to 	'X',
		 						computer_applied_configuration_url(@computer, ac),
								:confirm 	=> 'Are you sure?',
								:remote 	=> true,
								:method 	=> :delete,
								:class		=> "delete_link" %>
			</th>
			<td>
				Prescript:
				<ul>
					<% ac.configuration.prescript_packages.each do |p| %>
						<li><%= p.name %></li>
					<% end %>
				</ul>
			</td>
			<td>
				Postscript:
				<ul>
					<% ac.configuration.postscript_packages.each do |p| %>
						<li><%= p.name %></li>
					<% end %>
				</ul>
			</td>
		</tr>
	<% end %>
</table>
