<h1>Editing computer</h1>

<%=form_for(@computer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mac_address %><br />
    <%= f.text_field :mac_address %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  	<p>
		<%= f.label :platform %><br />
		<table>
		<% PLATFORMS.each do |platform| %>
			<tr>
				<td><%= f.radio_button(:platform, platform)%></td>
				<td><%= f.label(:platform, platform) %></td>
			</tr>
		<% end %>
		</table>
	</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @computer %> |
<%= link_to 'Back', computers_path %>