<h1>New computer</h1>

<%= form_for(@computer) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :mac_address %><br />
    <%= f.text_field :mac_address %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :platform %><br />
  	<%= f.radio_button :platform, "PC" %> PC |
	<%= f.radio_button :platform, "Mac" %> Mac
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', computers_path %>