<p>
  <b>Mac address:</b>
  <%=h @computer.mac_address %>
</p>

<p>
  <b>Name:</b>
  <%=h @computer.name %>
</p>

<p>
  <b>Platform:</b>
  <%=h @computer.platform %>
</p>

<p>
	<b>Configurations:</b>
</p>
<p>
	<%= link_to( 	"Add Package...", 
					add_package_computer_url(@computer),
					:remote => true,
					:method => :post )%>
</p>
<p>
	<%= link_to( 	"Add Configuration...",
	 				add_configuration_computer_url(@computer),
					:remote => true,
					:method => :post )%>
</p>
<div id="applied_configurations">
	<%= render :partial => "applied_configurations"%>
</div>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>