<div class="editInPlace">
  <b>Mac address:</b>
  <div class="editInPlace"><%=h @computer.mac_address %></div>
</div>

<div class="editInPlace">
  <b>Name:</b>
  <div class="editInPlace"><%=h @computer.name %></div>
</div>

<div>
  <b>Platform:</b>
  <div class="editInPlace"><%=h @computer.platform %></div>
</div>

<div>
	<b>Configurations:</b>
</div>
<div>
	<%= link_to( 	"Add...", 
					"#",
					:id => "add_ac")%>
</div>

<div id="applied_configurations">
	<%= render :partial => "applied_configurations"%>
</div>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
<div id="new_ac_form" class="jqmWindow">Please wait... <img src="/images/busy.gif" alt="loading" /></div>



<% content_for :javascript do %>

	<%= javascript_tag do %>
		// sortable applied_configurations
		jQuery(document).ready(function(){
		    $('#applied-configuration-list').children().sortable({
				axis: 'y',
				containment: 'parent',
				cursor: 'crosshair',
				scroll: true,
				opacity: 0.4,
				update: function(){
					serialized_sort = $('#applied-configuration-list')
										.children()
										.sortable(	'serialize',
														{key:'computer[applied_configuration_list][]'})
			    	jQuery.ajax({
						type: 		'put', 
			           	data: 		serialized_sort + '&id=<%=@computer.id-%>', 
			           	dataType: 	'script', 
			           	success: 	function(request){
			            	$('#applied-configuration-list').effect('highlight');
			           	},
			           	url: '<%= computer_path(@computer, :format => :xml) %>'
					})
				}
			})
		})
	<% end %>
	
	<%= javascript_tag do %>
		// add new applied_configuration behaviour to the 'add' link
		
		jQuery(document).ready(function(){
			div = jQuery('.jqmWindow')
			div.jqm({
				ajax: 		'<%= new_computer_applied_configuration_path(@computer) %>',
				trigger:	'a#add_ac'
			})
			jQuery('<a class="close_jqm">"X"</a>').appendTo(div)
			div.jqmAddClose(".close_jqm")
		})
	<% end %>		
	
<% end %>