<p>
  <b>Mac address:</b>
  <%=h @computer.mac_address %>
</p>

<p>
  <b>Name:</b>
  <%=h @computer.name %>
</p>

<p>
  <b>Platform:</b>
  <%=h @computer.platform %>
</p>

<p>
	<b>Configurations:</b>
</p>
<p>
	<%= link_to( 	"Add...", 
					"#",
					:id => "add_ac")%>
</p>

<div id="applied_configurations">
	<%= render :partial => "applied_configurations"%>
</div>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>




<% content_for :javascript do %>

  <%= javascript_tag do %>
	// sortable applied_configurations

     $('#applied-configuration-list').sortable(
        {
          axis: 'y', 
          dropOnEmpty:false, 
          handle: 'tr', 
          cursor: 'crosshair',
          items: 'tr',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $('#tasks-list').sortable('serialize') + '&id=<%=@computer.id-%>', 
                dataType: 'script', 
                complete: function(request){
                    $('#tasks-list').effect('highlight');
                  },
                url: '<%= computer_applied_configurations_path(@computer) %>'})
            }
          })
    <% end %>

	<%= javascript_tag do %>
		// add new applied_configuration behaviour to the 'add' link
		jQuery(document).ready(function(){
			div = jQuery('<div id="new_ac_form" class="jqmWindow">Please wait... <img src="/images/busy.gif" alt="loading" /></div>').appendTo('body').hide()
			div.jqm({
				ajax: 		'<%= new_computer_applied_configuration_path(@computer) %>',
				trigger:	'a#add_ac'
			})
			jQuery('<a class="close_jqm">"X"</a>').appendTo(div)
			div.jqmAddClose(".close_jqm")
		})
	<% end %>		
<% end %>