<p>
  <b>Mac address:</b>
  <%=h @computer.mac_address %>
</p>

<p>
  <b>Name:</b>
  <%=h @computer.name %>
</p>

<p>
  <b>Platform:</b>
  <%=h @computer.platform %>
</p>

<p>
	<b>Configurations:</b>
</p>
<p>
	<%= link_to_remote("Add Configuration...", 
						:url =>	{
									:action => "add_configuration", 
									:id => @computer
								})%>
</p>
<div id="applied_configurations">
	<%= render :partial => "applied_configurations"%>
</div>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>