jQuery('<tr id="<%=@applied_configuration.class.to_s.downcase %>_<%= @applied_configuration.id %>" class="applied_configuration"></tr>')
	.html('<th /><td class="prescript"/><td class="postscript"/>')
	.children("th")
		.html('<%= @applied_configuration.configuration.name %> <%= link_to "X", computer_applied_configuration_url(@computer, @applied_configuration), :confirm => "Are you sure?", :remote => true, :method => :delete,:class	=> "delete_link" %>')
	.end()
	.children("td.prescript")
		.html('Prescript:<ul><% @applied_configuration.configuration.prescript_packages.each do |p| %><li><%= p.name %></li><% end %></ul>')
	.end()
	.children("td.postscript")
		.html('Postscript:<ul><% @applied_configuration.configuration.postscript_packages.each do |p| %><li><%= p.name %></li><% end %></ul>')
	.end()
	.hide()
	.appendTo("#applied-configuration-list")
	.effect("highlight", {}, 3000)
