<tr id="edit_iv_row_<%= @install_validation.id %>" class="edit_iv_row">
	<%= form_for([@package, @install_validation], :remote => true) do |f| %>
		<td>
		
			There 
			<%= f.select( :success_value, [["is", true],["is not", false]]) %>
			<%= f.select( :rule_type, DESCRIPTION_FOR_RULE_TYPE.map{ |value, display| [display + "...", value] } ) %>
			<%= f.text_field( :rule_parameter)%>
			<%= f.submit( "Save")%></td>
		</td>
		<td></td>
		<td><%= f.submit( "Save")%></td>
	<% end %>
	<td><%= link_to("Cancel", package_install_validation_path(@package, @install_validation), :remote => true, :class => "cancel_edit_install_validation", :id => @install_validation.id) %></td>
</tr>